body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  padding: 3rem 1.5rem 2rem 1.5rem;
  width: 100%;
}

.teamsButton,
.teamsButtonInverted {
  border-radius: 3px;
  height: 2.25rem;
  font-size: .875rem;
  font-weight: 600;
  padding: 0 1.25rem;
  text-decoration: none;
}

.teamsButton {
  background-color: #6264a7;
  border: 1px solid hsla(0,0%,100%,.04);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.15);
}

.teamsButton:hover {
  background: #464775;
  border-color: transparent;
}

.teamsButton:active {
  background: #33344A;
  border-color: transparent;
}

.teamsButtonInverted {
  border: 1px solid #e3e5e9;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.075);
}

.teamsButtonInverted:hover {
  background-color: #f3f2f1;
}

.splashImage {
  max-width: 650px;
}

.uTextCenter {
  text-align: center;
}

div[class*="ms-TextField-wrapper"]:after {
  border-bottom: 2px solid #6264a7;
}

/*
*  New Meeting Styles
*/

.newMeetingInput input {
  border-radius: 3px;
}

.newMeetingInputIcon i {
  margin-right: 1.1rem;
}


/*
*  Meeting Card Styles
*/

.teamsLink {
  color: #6264a7;
}

.meetingCardContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0px 9px 10px 1px #00000014;
}

.meetingCardBody {
  border: 1px solid #cccccc6b;
  border-radius: 3px;
  padding: 1.3rem 1rem 1.1rem 1rem;
}

.meetingCardHeader {
  margin-bottom: 1.4rem;
  text-align: center;
}

.meetingCardDialInfo,
.meetingCardUrl {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.copyButton {
  align-self: flex-end;
  margin-top: 1.6rem;
}
