body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.microsoftLogo {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid #cccccc6b;
}

.headerLogo {
  margin-right: 1rem;
  max-width: 32px;
  width: 32px;
}

.headerIcon {
  cursor: pointer;
  margin-left: auto;
  text-align: right;
}

.headerIcon i {
  color: #3e3e3e;
  position: relative;
  top: 7px;
}

.container {
  padding: 1rem 1.5rem 2rem 1.5rem;
  width: 100%;
}

.teamsButton,
.teamsButtonInverted {
  border-radius: 3px;
  height: 2.25rem;
  font-size: .875rem;
  font-weight: 600;
  padding: 0 1.25rem;
  text-decoration: none;
}

.teamsButton {
  background-color: #6264a7;
  border: 1px solid hsla(0,0%,100%,.04);
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.15);
}

.teamsButton:hover {
  background: #464775;
  border-color: transparent;
}

.teamsButton:active {
  background: #33344A;
  border-color: transparent;
}

.teamsButtonInverted {
  border: 1px solid #e3e5e9;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.075);
}

.teamsButtonInverted:hover {
  background-color: #f3f2f1;
}

.splashImage {
  max-width: 650px;
  margin-top: 4.3rem;
}

.uTextCenter {
  text-align: center;
}

div[class*="ms-TextField-wrapper"]:after {
  border-bottom: 2px solid #6264a7;
}

/*
*  New Meeting Styles
*/

.newMeetingInput input {
  border-radius: 3px;
}

.newMeetingInputIcon i {
  margin-right: 1.1rem;
}


/*
*  Meeting Card Styles
*/

.meetingSuccess {
  align-self: center;
  display: flex;
  margin-bottom: 1.5rem;
  width: 50px;
}

.teamsLink {
  color: #6264a7;
}

.meetingCardContainer {
  display: flex;
  box-shadow: 0px 9px 10px 1px #00000014;
  flex-direction: column;
  margin-top: 4.3rem;
  padding: 2rem;
}

.meetingCardBody {
  border: 1px solid #cccccc6b;
  border-radius: 3px;
  padding: 1.3rem 1rem;
}

.meetingCardHeader,
.meetingCardSubHeader {
  margin-bottom: 1.4rem;
  text-align: center;
}

.meetingCardSubHeader {
  line-height: 1.5;
  max-width: 400px;
}

.meetingCardDialInfo,
.meetingCardUrl {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.meetingCardConfID {
  margin-bottom: 1rem;
}

.copyButton {
  align-self: flex-end;
  margin-top: 1.6rem;
}

/*
* Spinner styling
*/
.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div[class*="ms-Spinner-circle"] {
  border-color: #6264a7 #a7a8c7 #a7a8c7;
}

.ms-ComboBox-optionsContainerWrapper {
  max-height: 300px;
}